*{
    margin: 0;
    padding: 0;

}

body{
   
    height: 200vh;
    width: 100%;
    border: 10px solid black;

background-color: lightseagreen;
}
header{
    /* margin-top: 10px; */
}
.navbar{
    background-color: rgb(58, 57, 57);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .box{
    padding: 20px;
    margin: auto;
    background-color: blue;
    height: 50px;
    width: 50px;
} */

.box1, .box2, .box3, .box4{
    margin-top: 10px;
    background-color: blue;
    height: 50px;
    width: 50px;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0;


}

.sec1, .sec2, .sec3, .sec4, .sec5, .sec6{
    height: 300px;
width: 200px;
margin: 50px;
padding: 20px;

}

.sec1{
background-color: yellow;

}

.sec2{
    background-color: orange;
   
}

.sec3{
    background-color: cyan;
}

.sec4{
    background-color: greenyellow;
   
}

.sec5{
    background-color: aquamarine;
  
}

.sec6{
    background-color: rebeccapurple;
    
}

.sec6:hover{
    background-color: skyblue;
    
}

footer{
    height: 100px;
    width: 100%;
    background-color: black;
  
}

.f1{
  
    color: aliceblue;
    text-align: center;
    
    
}



