*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg{
    background-image: url("tree.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100vh;
    width: 500px;
    z-index: -1;
    filter: blur(10px);
}