*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    line-height: 1.4;
    font-weight: 300px;
    
}
.hero-section{
    background-image: url(image1.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.text-container{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;

}

.lg-text{
font-size: 72px;
font-weight: 400px;
}

.text-box{
    background-color: #000;
    padding: 20px;
}
.text-box h2{
font-size: 72px;
color: white;
text-align: center;
font-weight: 300px;

}
.text-box h2 span{
    font-weight: 400px;
font-size: 96px;
}

.work{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    
    /* display: grid;
    grid-template-columns: repeat(auto, minmax(320px, 1fr)); */
}
.card{
    max-width: 320px;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
    transition: 0.3s ease-in-out;
}
.card-content{
    padding: 20px;
}
.card-content h3{
    margin-bottom: 15px;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.3s ease-in-out;
}

.btm-section{
    display: flex;

}
.contact{
    background-color: #515603;
}
.about{
    background-color: #722300;
}
.contact, .about{
    min-height: 300px;
    padding: 30px;
    color: white;
    margin-top: 40px;

}
.about p, .contact p{
    margin-bottom: 20px;

}
.about h2, .contact h2{
    font-size: 60px;
    font-weight: 250px;

}
footer{
    text-align: center;
    text-transform: uppercase;
    background-color: #000;
    padding: 20px;
    color: white;
}

@media (max-width: 786px) {
    .hero-section {min-height: 50vh;
}
.text-container{padding: 10px 0;
text-align: center;}
.lg-text{
font-size: 32px;
}
.text-box h2{
font-size: 24px;

}
.text-box h2 span{
    font-weight: 400;
    font-size: 32px;
}
.btm-section{
    flex-direction:column ;
}

}
