*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html, body{
    line-height: 1.4;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navigation */
.nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bar-icon{
    font-size: 30px;
}
/* Hero section */

.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-image{
    margin-top: 32px;
}
.hero-image img{
    border-radius: 50%;
}


.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.tag{
    background-color: greenyellow;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
    transition: 0.4s ease-in-out;
}
.tag:hover{
border:1px solid darkgreen;
color: black;
}
.hero-content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;

}
.btn{
    background-color: orange;
    align-self: flex-start;
}
.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;

}
.feature{
    display: flex;
    gap: 20px;
    transition: 0.2s ease-in-out;
}
.feature:hover{
    transition:0.2s ease-in-out ;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}
.divider{
    border: 2px solid #ccc;
    margin: 20px 0;
}
/* manu section
Grid Section */

.manu{
    display: flex;
    flex-direction: column;
 gap: 50px;
    margin: 50px 0;
align-items: center;
padding: 20px;
}
.manu .tag{
align-self: center;
} 
.grid{
    display: grid;
   
    /* grid-template-columns: repeat(1, 100px); */
    
    /* grid-column: span 2; */
}
.item1{
    grid-column: 1/3;
    gap: 20px 20px;
}

/* .grid{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "I1 I1 I2 I3" 
    "I1 I2 I7";
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}*/

footer{
    background-color: #fff0db;
}
.foot-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;

}
.link-list h3{
    margin-bottom: 10px;
    color: gray;
}
.link-list ul{
    list-style: none;
}
.link-list ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.link-list ul li a{
    text-decoration: none;
    color: gray;
}
.news-letter h3{
    margin-bottom: 10px;
    color: gray;
}
.icon-box{
    display: flex;
    gap: 15px;
    font-size: 32px;

}




@media (max-width:786px) {
    .hero{
        flex-direction: column;   
    }
    .hero-image{
        display: flex;
        justify-content: center;
        
    }
    .hero-image{
        width: 90%;
        
    }
    .hero-content{
        gap: 10px;
        padding: 15px;

    }
    .hero-content h1{
        font-size: 32px;
        
    }
    .foot-container{
        flex-direction: column;
    }
}


