*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aquamarine;
    min-height: 100vh;
    border: 10px solid black;

}
.content{
    max-width: 900px;
    margin: 0 auto;

}

.image-conatiner, img{
width: 300px;
height: 250px;
border-radius: 50%;
    overflow: hidden;
}
.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top-section h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
   
}
.top-section h4{
    font-size: 30px;
text-align: end;

}
.about{
    margin: 50px, 0;

}
.about h2{
    font-size: 50px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.about p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-align:justify ;
}
.bio{
    margin-top: 50px;
}
.bio h3{
    margin-bottom: 20px;

}
.bio ul{
    margin-left: 50px;
  
}
.bio li{
    margin-bottom: 15px; 
    font-size: 20px;
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
}