*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     margin-top: 100px;
    
}
.container{
    border: none;
    background-color: #eee;
    box-shadow: 0 5px 10px black;
    padding: 20px;

}
.watchbox{
    display: flex;
    gap: 50px;
    padding: 20px;
}
.main_container h1{
    padding-bottom: 40px;
    text-decoration: underline;
}
.time{
    font-size: 2rem;
    
}
.btn{
    padding: 15px;
    margin-left: 2px;
    border: none;
    box-shadow: 0 5px 5px black;
    cursor: pointer;
}
.btn:hover{
    background-color: lightgreen;
}
