*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background: radial-gradient(rgb(5, 221, 245), rgb(6, 150, 253));
}
.container{
    height: 60vh;
    width: 50vh;
    position: absolute;
    top: 50vh;
    left: 5vw;
    transform: translate(-50%, -50%);

}
.box{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
    margin-left: 200px;
    /* transform: rotate(-90deg); */
transform-style: preserve-3d;
transform: rotate(10deg);
animation: animate 5s infinite;
}
@keyframes animate{
    0%{
        transform: rotatex(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotatex(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotatex(45deg) rotateY(-45deg);
    }
    75%{
        transform: rotatex(-45deg) rotateY(45deg);
    }
    100%{
        transform: rotatex(45deg) rotateY(-45deg);
    }
}
.card{
    height:250px ;
    width: 250px;
    text-align:center ;
    padding:100px 0 ;
    color:white ;
    background-color: black;
    border: 2px solid white;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
transition: all 1s;
}
#front{
    transform: translateZ(125px);
    background-color: yellow;
}
#back{
    transform: translateZ(-125px);
    background-color: red;
}
#left{
right: 125PX;
transform: rotateY(-90deg);
background-color: blue;

}
#right{
left: 125PX;
transform: rotateY(90deg);
background-color: green;
    
}
#top{
bottom: 125PX;
transform: rotateX(90deg);
background-color: orange;
        
}
#bottom{
top: 125PX;
transform: rotateX(-90deg);
            
}

